@media only screen and (max-width: 768px) {
  main {
    max-width: 34.2857rem;
    height: 98vh;
    align-items: center;
    background-image: url("images/bg-mobile.png");
    background-position: center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .wrapper {
    height: 28.5714rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    height: 11.4286rem;
    padding: 35px 30px;
    text-align: center;
  }

  .message-bobble {
    margin: 0 auto;
    top: 8.9286rem;
    left: 2.5714rem;
  }

  .rectangle {
    border-radius: 10px;
  }

  .triangle {
    display: none;
  }
}
